/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: darkblue;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: red;
}